<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Zero2Hero</title>
</head>
<body>

    <div id="header">
        <h1 id="main-title">Zero2Hero </h1>
        <h3>Acaemia de Programacion</h3>
        <p id="slogan">Aprende a programar desde cer. Desarrolla tus propios proyectos.</p>
    </div>
    
    <div id="courses">
        <h3> Nuestros Cursos </h3>
            <ul>
                <li>Python</li>
                <li>R</li>
                <li>Data Science</li>
                <li>SQL</li>
            </ul>
    </div>

    <div id="content">
        <div id="content-content">
            <h3>¿por qué aprender programación?</h3>
            <p> La programación es una de las habilidades más demandadas. </p>
            <p> En Zero2Hero te enseñaremos a programar desde cero. </p>
            <p> ¿Qué esperas? Inscribete!! </p>
        </div>
    </div>

    <div id="footer">
        <div id="links" class="footer-section">
            <h4 class="footer-title">Vinculos Externos</h4>
                <ul class="footer-list">
                    <li>Descargar Python <a href="https://www.python.org/downloads/" target="_blank">(haz click aqui)</a></li>
                </ul>    
        </div>
        
        <div id="contacts" class="footer-section">
            <h4 class="footer-title">Contactanos</h4>
                <ul class="footer-list">
                    <li><a href=mailto:"mail@gmail.com">Via Correo</a></li>
                </ul>    
        </div>
    </div>
    
   

</body>
</html>