body{
    background-color:rgb(212, 214, 212);
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header{
    margin-top: 20px;
}

.smaller-logo {
    width: 50%; /* ajusta el valor según tu preferencia */
    height: auto;
    margin-bottom: 20px;
}

/* Asegúrate de ajustar estos estilos según tus preferencias exactas */
.slogan {
    color: #011d01; /* Código de color para verde bandera */
    font-weight: bold;
}